.admin_index {
  width: 100%;
  height: 100%;
}
.admin_index .top {
  height: 64px;
  background-color: red;
}
.admin_index .top h3 {
  color: white;
  line-height: 64px;
  text-align: center;
}
.admin_index .ant-layout ant-layout-has-sider {
  width: 100%;
  height: 100%;
}
.heard_index {
  width: 100%;
  height: 64px;
}
.heard_index .heard_top {
  height: 30px;
  border-bottom: 2px solid red;
  display: block;
}
.heard_index .heard_top h3 {
  font-weight: normal;
  font-size: 10px;
  height: 15px;
  width: 50px;
  float: left;
}
.heard_index .heard_top .login-form-button {
  float: right;
}
.heard_index .heard_bet h3 {
  float: left;
  height: 15px;
  font-size: 10px;
}
.heard_index .heard_bet .bet_right {
  float: right;
  font-size: 10px;
}
